html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0%;
}

body {
  text-align: center;
  background-image: url("https://res.allmacwallpaper.com/get/Retina-MacBook-Air-13-inch-wallpapers/Dark-Fabric-2560x1600/1079-11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#out_row { 
  height:100vh; 
  margin: 0%; 
  width: 100vw;
}

